<mat-card appearance="outlined" class="mat-elevation-z3">
    <mat-card-title class="card-title">Presentation 8.2 - Security Controls in Shared Source Code Repositories</mat-card-title>
    <mat-card-subtitle>
        <h6 class="breadcrumb">Portfolio / DevOps / Security Controls</h6>
    </mat-card-subtitle>

    <mat-card-content class="card-content">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/35uzMkJf2Fg"
            title="Assignment 8.2 - Instructions - Security Controls in Shared Source Code Repositories" class="videoPresentation" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </mat-card-content>
</mat-card>