<h1 class="mat-elevation-z1">David Rachwalik | Home Page</h1>
<hr />

<h3 class="mat-elevation-z1">Projects</h3>
<ul>
    <li><a href="index.html">Home</a></li>
    <li><a href="buwebdev/bioSite/index.html">WEB-200 BioSite Project</a></li>
    <li><a href="buwebdev/web-231/index.html">WEB-231 Project</a></li>
    <li><a href="buwebdev/web-330/index.html">WEB-330 Project</a></li>
    <li><a href="buwebdev/web-430/index.html">WEB-430 Project</a></li>
    <li><a routerLink="/portfolio">Personal Portfolio</a></li>
</ul>