<h1>David Rachwalik's Landing Page</h1>
<h2>WEB 330 - Enterprise JavaScript II</h2>

<mat-divider></mat-divider>

<h3>Weekly Assignments</h3>
<!-- <ul>
    <li><a href="week-2/rachwalik-palindrome.html">Assignment 2.2</a></li>
    <li><a href="week-3/rachwalik-restaurant.html">Assignment 3.2</a></li>
    <li><a href="week-4/rachwalik-calorie.html">Assignment 4.2</a></li>
    <li><a href="week-5/rachwalik-bobs-auto-repair.html">Assignment 5.2</a></li>
    <li><a href="week-6/rachwalik-future-value.html">Assignment 6.2</a></li>
    <li><a href="week-7/rachwalik-whatabook1.html">Assignment 7.2</a></li>
    <li><a href="week-8/rachwalik-whatabook2.html">Assignment 8.2</a></li>
</ul> -->
<ul>
    <li><a routerLink="week-2/palindrome">Assignment 2.2</a></li>
    <li><a routerLink="week-3/restaurant">Assignment 3.2</a></li>
    <li><a routerLink="week-4/calorie">Assignment 4.2</a></li>
    <li><a routerLink="week-5/bobs-auto-repair">Assignment 5.2</a></li>
    <li><a routerLink="week-6/future-value">Assignment 6.2</a></li>
    <li><a routerLink="week-7/whatabook1">Assignment 7.2</a></li>
    <li><a routerLink="week-8/whatabook2">Assignment 8.2</a></li>
</ul>

<h3>Projects</h3>
<ul>
    <li><a routerLink="/">Home Index</a></li>
    <li><a href="../../portfolio/index.html">Personal Portfolio</a></li>
    <li><a href="../web-231/index.html">WEB 231's Landing Page</a></li>
</ul>

<h4>Important Links</h4>
<ul>
    <li><a href="https://github.com/buwebdev/web-330" target="_blank">WEB 330's GitHub Repository</a></li>
    <li><a href="https://bruinconnect.bellevue.edu" target="_blank">BRUIN Connect</a></li>
    <li><a href="https://validator.w3.org" target="_blank">W3C HTML Validator</a></li>
    <li><a href="http://jigsaw.w3.org/css-validator" target="_blank">W3C CSS Validator</a></li>
    <li><a href="https://www.w3schools.com/html" target="_blank">HTML Tutorial</a></li>
    <li><a href="https://www.w3schools.com/js/js_best_practices.asp" target="_blank">JavaScript Best Practices</a></li>
</ul>