/* You can add global styles to this file, and also import other style files */

// https://sass-lang.com/documentation/at-rules/extend
// https://sass-lang.com/documentation/style-rules/parent-selector
// https://sass-lang.com/documentation/at-rules/mixin

@use 'theme';
@use 'buwebdev';

// Must specify .css when going from .scss
// @import 'styles/tailwind/index.css';
// @import 'styles/fixes/index.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
