<div class="rpg-profile-bg">
  <div class="rpg-profile-overlay">
    <div class="rpg-profile-container">
      <h2 class="profile-title">Character Profile</h2>
      @if (player$ | async; as character) {
        <div class="profile-section">
          <div class="profile-avatar">
            <img
              src="/assets/images/profile/campfire-avatar.png"
              alt="Avatar" />
          </div>
          <div class="profile-details">
            <div class="profile-row">
              <span class="profile-label">Name:</span>
              <span class="profile-value">{{ character.name }}</span>
            </div>
            <div class="profile-row">
              <span class="profile-label">Level:</span>
              <span class="profile-value">{{
                character.attributes['level'] || 1
              }}</span>
            </div>
            <!-- HP (health) -->
            @if (health$ | async; as health) {
              <div class="profile-row">
                <span class="profile-label">Health: &nbsp;</span>
                <!-- <span class="profile-value"
                  >{{ health.value || 0 }} /
                  {{ health.max || 0 }}</span
                > -->
                <span class="stat-value">{{ health.value }}</span>
                @if (health.max !== undefined) {
                  <span class="divider">/</span>
                  <span class="stat-max">{{ health.max }}</span>
                }
              </div>
            }
            <div class="profile-row">
              <span class="profile-label">Location:</span>
              <span class="profile-value">{{
                character.location || 'Unknown'
              }}</span>
            </div>
          </div>
        </div>
        <div class="profile-section">
          <h3>Attributes</h3>
          <ul class="profile-attributes">
            @if (attributeKeys$ | async; as attributeKeys) {
              @for (pair of attributeKeys; track pair.id) {
                <li>
                  <span class="profile-label">{{ pair.id | titlecase }}:</span>
                  <span class="profile-value">{{ pair.value }}</span>
                </li>
              }
            }
          </ul>
        </div>
        <div class="profile-section">
          <h3>Inventory</h3>
          <ul class="profile-inventory">
            @if (inventory$ | async; as inventory) {
              @for (item of inventory; track item.id) {
                <li>{{ item.name }}: {{ item.description }}</li>
              }
            }
          </ul>
        </div>
      } @else {
        <div class="profile-empty">
          <span>No character loaded.</span>
        </div>
      }
    </div>
  </div>
</div>
