# Ignore all files by default
*

# Include files that are supported by Prettier
!**/*.js
!**/*.ts
!**/*.jsx
!**/*.tsx
!**/*.html
!**/*.css
!**/*.scss
!**/*.less
!**/*.vue
# !**/*.json
# !**/*.jsonc
# !**/*.json5
# !**/*.yaml
# !**/*.yml
!**/*.md
!**/*.graphql
!**/*.handlebars
!**/*.toml
!**/*.lua
!**/*.php
!**/*.sql
!**/*.ruby

# Ignore build artifacts
build/
dist/

# Ignore minified JavaScript files
*.min.js

# Ignore all JSON files except for the config
*.json
!config/*.json

# # Ignore specific file
# src/some-file-to-ignore.js

# # Ignore all files in a folder but include some specific ones
# node_modules/*
# !node_modules/some-package/*.js
