<div class="main-container">
    <div class="icon-container" fxLayout="row">
        <div fxFlex></div>
        <div fxFlexAlign="right center">
            <mat-icon class="icon-sun">light_mode</mat-icon>
            <!-- https://material.angular.io/components/slide-toggle/api -->
            <mat-slide-toggle [checked]="slideChecked" (change)="toggleThemeMode()"></mat-slide-toggle>
            <mat-icon class="icon-moon">dark_mode</mat-icon>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>
<br /><br />