<mat-card appearance="outlined" class="mat-elevation-z3">
    <mat-card-title class="card-title">WEB-335 Diagrams</mat-card-title>
    <mat-card-subtitle>
        <h6 class="breadcrumb">Portfolio / Database Diagrams</h6>
    </mat-card-subtitle>

    <mat-card-content class="card-content">
        <mat-tab-group>
            <!-- Week 01 -->
            <mat-tab label="1.4 ORD">
                <p>1.4 Object Relational Diagram (ORD)</p>
                <img src="/assets/images/portfolio/nosql-data-diagrams/web-335-1.4-object-relational-diagram.png" alt="1.4 ORD">
            </mat-tab>
            <mat-tab label="1.4 NoSQL">
                <p>1.4 NoSQL Data Structure</p>
                <img src="/assets/images/portfolio/nosql-data-diagrams/web-335-1.4-nosql-data-structure.png" alt="1.4 NoSQL">
            </mat-tab>

            <!-- Week 02 -->
            <mat-tab label="2.2 ORD">
                <p>2.2 Object Relational Diagram (ORD)</p>
                <img src="/assets/images/portfolio/nosql-data-diagrams/web-335-2.2-object-relational-diagram.png" alt="2.2 ORD">
            </mat-tab>
            <mat-tab label="2.2 NoSQL">
                <p>2.2 NoSQL Data Structure</p>
                <img src="/assets/images/portfolio/nosql-data-diagrams/web-335-2.2-nosql-data-structure.png" alt="2.2 NoSQL">
            </mat-tab>
            <mat-tab label="2.3 ORD">
                <p>2.3 Object Relational Diagram (ORD)</p>
                <img src="/assets/images/portfolio/nosql-data-diagrams/web-335-2.3-object-relational-diagram.png" alt="2.3 ORD">
            </mat-tab>
            <mat-tab label="2.3 NoSQL">
                <p>2.3 NoSQL Data Structure</p>
                <img src="/assets/images/portfolio/nosql-data-diagrams/web-335-2.3-nosql-data-structure.png" alt="2.3 NoSQL">
            </mat-tab>

            <!-- Week 03 -->
            <mat-tab label="3.2 ORD">
                <p>3.2 Object Relational Diagram (ORD)</p>
                <img src="/assets/images/portfolio/nosql-data-diagrams/web-335-3.2-object-relational-diagram.png" alt="3.2 ORD">
            </mat-tab>
            <mat-tab label="3.2 NoSQL">
                <p>3.2 NoSQL Data Structure</p>
                <img src="/assets/images/portfolio/nosql-data-diagrams/web-335-3.2-nosql-data-structure.png" alt="3.2 NoSQL">
            </mat-tab>
            <mat-tab label="3.3 ORD">
                <p>3.3 Object Relational Diagram (ORD)</p>
                <img src="/assets/images/portfolio/nosql-data-diagrams/web-335-3.3-object-relational-diagram.png" alt="3.3 ORD">
            </mat-tab>
            <mat-tab label="3.3 NoSQL">
                <p>3.3 NoSQL Document Diagram</p>
                <img src="/assets/images/portfolio/nosql-data-diagrams/web-335-3.3-nosql-document-diagram.png" alt="3.3 NoSQL">
            </mat-tab>
            <mat-tab label="3.3 Data">
                <p>3.3 NoSQL Data Structure</p>
                <img src="/assets/images/portfolio/nosql-data-diagrams/web-335-3.3-nosql-data-structure.png" alt="3.3 Data">
            </mat-tab>

            <!-- Week 09 -->
            <mat-tab label="9.2 Data">
                <p>9.2 NoSQL Data Structure</p>
                <img src="/assets/images/portfolio/nosql-data-diagrams/web-335-9.2-object-relational-diagram.png" alt="9.2 Data">
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>