<img src="/assets/images/buwebdev/bioSite/ben-portrait.jpg" class="portrait mat-elevation-z1" />

<h2>About</h2>

<p class="intro">
    Ben is a consultant and installation expert at
    <a href="https://www.soundenvironment.com" target="_blank">The Sound Environment</a>
    in Omaha, NE.&nbsp; He holds much appreciation for his coworkers and the relaxed work environment.&nbsp;
</p>

<p>
    Some of Ben's favorite hobbies are drawing, video games, and biking.&nbsp; He would spend summers as a kid
    swimming in the nearby lake and Platte River and still visits their cabin out there throughout the year.&nbsp;
    He feels equally close to his mom and dad.&nbsp; Ben's favorite season is during autumn.&nbsp; Health and mental
    well-being are what he values most in life; that and his ability to be creative.
</p>

<p>
    Ben's most memorable travel experience has been visiting Japan, twice; an amazing place to be for an
    otaku! If he could possess one super-human ability, it would be to shape-shift.&nbsp; His D&D alignment may
    be chaotic good and Hogwarts house is Gryffindor.&nbsp; His greatest hope is that everyone respects each
    other and our planet.
</p>