<mat-card appearance="outlined" class="mat-elevation-z3">
    <mat-card-title class="card-title">David M. Rachwalik</mat-card-title>
    <mat-card-subtitle>
        <h6 class="breadcrumb">Portfolio / Resume</h6>
    </mat-card-subtitle>

    <mat-card-content class="card-content">
        <a href="/assets/docs/portfolio/Rach_Resume_Portfolio_2022.docx" class="resume-download">
            <button mat-raised-button>
                <mat-icon aria-label="Icon for resume download">cloud_download</mat-icon>
            </button>
        </a>

        <div class="resume-email">
            <a href="mailto:david.m.rachwalik@gmail.com">david.m.rachwalik&#64;gmail.com</a>
        </div>

        <mat-divider></mat-divider>

        <h4 class="resume-title">Summary:</h4>
        <div class="resume-content">
            Software engineer with a passion for learning the latest technologies, patterns, and best practices.&nbsp;
            Over 5 years of programming experience in a full-stack software development lifecycle - from concept through delivery of applications.&nbsp;
            3 years' experience in database administration.&nbsp; 8 years' experience as Air Force comptroller in budget &amp; accounting.
        </div>

        <h4 class="resume-title">Professional Work Experience:</h4>
        <div class="resume-content">
            <div class="work-title">System &amp; Database Administrator</div>
            <!-- <div class="work-locations" fxLayout="row wrap">
                <div fxFlex="25%" class="work-employer">Perspecta</div>
                <div fxFlex="25%">(Jun 2018 - Sep 2020)</div>
                <div fxFlex="50%">901 Sac Blvd # 1A1, Minuteman Cir, Offutt AFB, NE 681130</div>
                <div fxFlex="25%" class="work-employer">DXC Technology</div>
                <div fxFlex="25%">(Nov 2017 - May 2018)</div>
                <div fxFlex="50%">901 Sac Blvd # 1A1, Minuteman Cir, Offutt AFB, NE 681130</div>
            </div> -->
            <div class="work-locations">
                <div class="work-employer">Perspecta</div>
                <div>(Jun 2018 - Sep 2020)</div>
                <div>901 Sac Blvd # 1A1, Minuteman Cir, Offutt AFB, NE 681130</div>
                <div class="work-employer">DXC Technology</div>
                <div>(Nov 2017 - May 2018)</div>
                <div>901 Sac Blvd # 1A1, Minuteman Cir, Offutt AFB, NE 681130</div>
            </div>
            <ul>
                <li>Performed administration of database and middle-tier system updates</li>
                <li>Monitored system for potential traffic threats and malicious actions</li>
            </ul>
        </div>

        <div class="resume-content">
            <div class="work-title">Web Developer / Software Engineer / Technical Writer</div>
            <!-- <div class="work-locations" fxLayout="row wrap">
                <div fxFlex="25%" class="work-employer">CSRA</div>
                <div fxFlex="25%">(Nov 2015 - Sep 2017)</div>
                <div fxFlex="50%">901 Sac Blvd # 1A1, Minuteman Cir, Offutt AFB, NE 681130</div>
                <div fxFlex="25%" class="work-employer">TEKSystems</div>
                <div fxFlex="25%">(Nov 2014 - Oct 2015)</div>
                <div fxFlex="50%">9140 West Dodge Road, Suite 350, Omaha, NE 68114</div>
            </div> -->
            <div class="work-locations">
                <div class="work-employer">CSRA</div>
                <div>(Nov 2015 - Sep 2017)</div>
                <div>901 Sac Blvd # 1A1, Minuteman Cir, Offutt AFB, NE 681130</div>
                <div class="work-employer">TEKSystems</div>
                <div>(Nov 2014 - Oct 2015)</div>
                <div>9140 West Dodge Road, Suite 350, Omaha, NE 68114</div>
            </div>
            <ul>
                <li>Founding member of USSTRATCOM's 1st team to implement Agile Scrum methodology</li>
                <li>Developed web-based applications to track historical data for over 390 types of military assets (radars, satellites, bases, aircraft,
                    submarines, missiles, etc.)</li>
                <li>Devised &amp; coded D3.js visualizations based on business rules and data trend analysis</li>
                <li>Collaborated on GUI and database design, daily stand-ups, weekly backlog grooming and discussions with users, and bimonthly sprint
                    planning and retrospectives</li>
                <li>Accomplished tech training talks, peer reviews, and automated testing</li>
                <li>Technical writer for user guide, developer documentation, quality assurance standards, etc.</li>
            </ul>
        </div>

        <div class="resume-content">
            <div class="work-title">Budget Analyst / Accounting Comptroller / Finance Customer Service</div>
            <!-- <div class="work-locations" fxLayout="row wrap">
                <div fxFlex="30%" class="work-employer">Air National Guard - 155th CPTF</div>
                <div fxFlex="25%">(Nov 2014 - Jan 2017)</div>
                <div fxFlex="45%">NW 25th St, Lincoln, NE 68524</div>
                <div fxFlex="30%" class="work-employer">US Air Force - 55th CPTS</div>
                <div fxFlex="25%">(Nov 2011 - Nov 2014)</div>
                <div fxFlex="45%">106 Peacekeeper Drive, Offutt AFB, NE 68113</div>
            </div> -->
            <div class="work-locations">
                <div class="work-employer">Air National Guard - 155th CPTF</div>
                <div>(Nov 2014 - Jan 2017)</div>
                <div>NW 25th St, Lincoln, NE 68524</div>
                <div class="work-employer">US Air Force - 55th CPTS</div>
                <div>(Nov 2011 - Nov 2014)</div>
                <div>106 Peacekeeper Drive, Offutt AFB, NE 68113</div>
            </div>
            <ul>
                <li>Created dozens of programs to automate and optimize office processes, such as:
                    <ul>
                        <li>Tracker that monitors training records and generates compliance reports and email notifications</li>
                        <li>Analyzer for budget transactions, enabling more rapid problem spotting</li>
                        <li>Daily website scraper for status updates to hundreds of government contracts</li>
                        <li>Sign-in program with customer interface, customer service profiles, metric tracking, history search & filter, and ability to
                            export to excel or pdf</li>
                    </ul>
                </li>
            </ul>
        </div>

        <h4 class="resume-title">Education:</h4>
        <div class="resume-content">
            <ul>
                <li><a href="https://www.bellevue.edu/degrees/bachelor/web-development-bs" target="_blank">Bachelor of Science Degree:
                        <i>Web Development</i></a>
                    - Bellevue University (Oct 2022)</li>
                <li>High School Diploma - Omaha Central High School (2001)</li>
            </ul>
        </div>

        <h4 class="resume-title">Certifications:</h4>
        <div class="resume-content">
            <ul>
                <li>Certified in <a href="https://www.comptia.org/certifications/security" target="_blank">CompTIA Security+</a> (2018)</li>
            </ul>
        </div>
    </mat-card-content>
</mat-card>