<mat-card class="mat-elevation-z3">
    <mat-card-title class="card-title">WEB-420 API Tests</mat-card-title>
    <mat-card-subtitle>
        <h6 class="breadcrumb">Portfolio / API Tests</h6>
    </mat-card-subtitle>

    <mat-card-content class="card-content">
        <mat-tab-group>
            <!-- Week 09 -->
            <mat-tab label="findAllTeams">
                <p>9.2 findAllTeams</p>
                <img src="/assets/images/portfolio/nosql-api-tests/web-420-9.2-findAllTeams.png" alt="findAllTeams">
            </mat-tab>
            <mat-tab label="deleteTeamById">
                <p>9.2 deleteTeamById</p>
                <img src="/assets/images/portfolio/nosql-api-tests/web-420-9.2-deleteTeamById.png" alt="deleteTeamById">
            </mat-tab>
            <mat-tab label="assignPlayerToTeam">
                <p>9.2 assignPlayerToTeam</p>
                <img src="/assets/images/portfolio/nosql-api-tests/web-420-9.2-assignPlayerToTeam.png" alt="assignPlayerToTeam">
            </mat-tab>
            <mat-tab label="findAllPlayersByTeamId">
                <p>9.2 findAllPlayersByTeamId</p>
                <img src="/assets/images/portfolio/nosql-api-tests/web-420-9.2-findAllPlayersByTeamId.png" alt="findAllPlayersByTeamId">
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>