<mat-card appearance="raised" class="mat-elevation-z3">
    <mat-card-title class="card-title">About Me</mat-card-title>
    <mat-card-subtitle>
        <h6 class="breadcrumb">Portfolio / About</h6>
    </mat-card-subtitle>

    <mat-card-content class="card-content">
        <p>
            Hello, I'm David, a web developer in Omaha, NE. My passions are programming, videogames, superheroes, anime, and trail running.&nbsp;
            I especially enjoy going for relaxing jogs in the rain.&nbsp; My favorite game at the moment is Final Fantasy XIV.&nbsp;
            I'm also continually excited to see what new VTubers arise.
        </p>
        <img src="/assets/images/portfolio/Konosuba-OtakuKart.jpg" class="card-image" />
        <p>
            Each weekend I meet with friends to watch anime as a group and catchup on life.&nbsp; The anime we watch are as varied as any other
            movies or series out there.&nbsp; There are still so many stories and intense action moments only possible through animation.
        </p>
        <img src="/assets/images/portfolio/ca8e246582102f960df56687d6485ef6.jpg" class="card-image" />
        <p>
            I've been reading comics since I was kid in the early 90s buying them with mowing and paperboy money.&nbsp; Although I seem to find
            myself reading more manga these days, it's still exciting seeing superheroes become increasingly mainstream.&nbsp; I eagerly
            anticipate a more comic faithful X-Men reaching the MCU.
        </p>
    </mat-card-content>
</mat-card>