/*
    Title: site.css
    Author: David Rachwalik
    Date: 2022/01/30
    Description: Global styles for WEB-330 site
 */

/* -------- Styles via Web 330 HTML, CSS, and JavaScript Requirements document -------- */

.assign-container {
  padding: 10px;
}
.assign-content {
  width: 600px;
  margin: 3% auto 0;
}
.assign-results-text {
  text-align: center;
  font-size: 28px;
}

.app-header {
  text-align: center;
  font-weight: 400;
  border: none;
  color: inherit;
  background-color: inherit;
}

.return-home {
  color: var(--anchor-color);
  text-decoration: none;
}
.return-home:hover {
  background-color: var(--anchor-hover-background-color);
  color: var(--anchor-hover-color);
}

.form {
  display: inline-grid;
  grid-template-columns: auto;
}
.form-field {
  padding: 20px;
}

.full-width {
  width: 100%;
}

/* -------- Styles via Assign_1 instructions -------- */

#container {
  max-width: 900px;
  margin: 0 auto;
}
@media only screen and (max-width: 1100px) {
  #container {
    margin: 0 100px 50px;
  }
}

#icon-mode:hover {
  cursor: pointer;
}
#icon-text {
  padding-left: 10px;
}

.pull-right {
  float: right;
}

#container h1 {
  margin-top: 0.2em;
}
#icon-container {
  overflow: hidden; /* required to contain float */
  margin-top: 1em;
}

/* -------- Card Styles -------- */

.card {
  padding: 5px 30px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 20px auto;
}
.card-title {
  width: 100%;
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 5px;
}

.card input[type='button'] {
  padding: 8px 90px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}
.card input[type='text'] {
  border-radius: 5px;
  border: 2px solid #cdd9ed;
  padding: 5px;
  margin: 15px;
}

/* -------- Styles for Assign_2 -------- */

h1#app-header {
  background: none;
  border: 0;
  color: var(--text-color);
  font-weight: normal;
  text-align: center;
}

/* -------- Styles for Assign_4 -------- */

/* Content respects width, not pushed beyond by padding */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* https://www.w3schools.com/css/css3_flexbox_container.asp */
.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-container label {
  white-space: nowrap;
  padding: 5px 0;
  margin-right: 5px;
}

.card form {
  width: 55%;
}

.btn-primary,
.card input,
.card select {
  width: 100%;
  margin: 0;
}
