/*
    Title: site.css
    Author: David Rachwalik
    Date: 2022/01/09
    Description: Global styles for WEB-330 site
 */

/* -------- Styles via Web 330 HTML, CSS, and JavaScript Requirements document -------- */

.assign-container {
    padding: 10px;
}
.assign-content {
    width: 600px;
    margin: 3% auto 0;
}
.assign-results-text {
    text-align: center;
    font-size: 28px;
}

.app-header {
    text-align: center;
    font-weight: 400;
    border: none;
    color: inherit;
    background-color: inherit;
}

.return-home {
    color: #4f3674;
    text-decoration: none;
}
.return-home:hover {
    background-color: #d6a800;
    color: #4f3674;
}
.return-home:visited {
    color: #3c275a;
}

.form {
    display: inline-grid;
    grid-template-columns: auto;
}
.form-field {
    padding: 20px;
}

.full-width {
    width: 100%;
}

/* -------- Styles via Assign_1 instructions -------- */

#container {
    margin: 0 100px 50px;
}

#icon-mode:hover {
    cursor: pointer;
}
#icon-text {
    padding-left: 10px;
}

.pull-right {
    float: right;
}

#container h1 {
    margin-top: 0.2em;
}
#icon-container {
    overflow: hidden; /* required to contain float */
    margin: 20px 100px 0;
    margin-top: 1em;
}
