@import 'typography';
@import 'main';

body.mat-typography p {
  @apply tw-mb-3;
}

/* app-portfolio-layout .mat-mdc-card-content p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-style: italic;
  color: rgb(107 114 128);
} */

app-portfolio-layout .mat-mdc-card-title {
  @apply tw-pt-3;
}

/* 14px, italic, dark grey */
app-portfolio-layout .mat-mdc-card-content .annotation {
  @apply tw-text-sm tw-italic tw-text-gray-500;
}

app-portfolio-layout .resume-download .mat-mdc-raised-button {
  @apply tw-h-8;
  background-color: #31d2f2;
}
app-portfolio-layout .resume-download .mat-mdc-raised-button > .mat-icon {
  height: 1.5rem; /* 24px */
  width: 1.5rem; /* 24px */
  font-size: 1.25rem; /* 20px */
  vertical-align: middle;
  overflow: hidden;
  margin: 0;
  padding-top: 2px;
}

/* Database Diagrams (WEB-335) */
app-portfolio-layout app-db-diagrams .mat-mdc-tab-body img.ng-star-inserted {
  margin-left: auto;
  margin-right: auto;
}

/* --------------------------------------------------- */

/* --- Material Tab Styles --- */

app-portfolio-layout .mat-mdc-tab-header {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.12); */
  @apply tw-border-b tw-border-solid;
  @apply tw-border-b-neutral-200;
}

app-portfolio-layout .mat-mdc-tab-labels {
  @apply tw-text-sm;
}

app-portfolio-layout .mat-mdc-tab.mdc-tab {
  @apply tw-h-9; /* to match 36px line-height */
  @apply tw-tracking-normal;
  @apply tw-mt-2;
}

app-portfolio-layout
  .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
  > .mat-mdc-tab-header
  .mat-mdc-tab {
  flex-grow: initial; /* left-justified tabs */
}
