<h1 class="app-header">Welcome to my portfolio!</h1>

<!-- <button class="tw-blue-btn">Tester for TailwindCSS Styling</button> -->

<mat-card appearance="outlined" class="mat-elevation-z3">
    <mat-card-title class="card-title">Quick Links</mat-card-title>
    <mat-card-subtitle>
        <h6 class="breadcrumb">Portfolio / Home</h6>
    </mat-card-subtitle>
    <!-- <mat-card-content class="card-content" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px grid"> -->
    <mat-card-content class="card-content">
        <div class="quick-links-container">
            <!-- <div fxFlex="100%" fxFlex.gt-xs="60%"> -->
            <ul class="quickLinks">
                <li><a href="https://github.com/david-rachwalik?tab=repositories" target="_blank">David Rachwalik's GitHub Repos</a></li>
                <li><a href="https://www.bellevue.edu/degrees/bachelor/web-development-bs" target="_blank">
                        Bellevue University: Web Development Degree</a></li>
                <li><a href="https://github.com/buwebdev" target="_blank">Bellevue University: Web Dev GitHub Repo</a></li>
            </ul>
            <!-- </div> -->
            <!-- <div fxFlex="100%" fxFlex.gt-xs="40%"> -->
            <ul class="quickLinks">
                <li><a href="https://validator.w3.org" target="_blank">W3C HTML Validator</a></li>
                <li><a href="https://jigsaw.w3.org/css-validator" target="_blank">W3C CSS Validator</a></li>
                <li><a href="https://loremipsum.io" target="_blank">Lorem Ipsum Generator</a></li>
            </ul>
            <!-- </div> -->
        </div>
    </mat-card-content>
</mat-card>
<br />

<mat-card appearance="outlined" class="mat-elevation-z3">
    <mat-card-title class="card-title">Bucket List</mat-card-title>
    <!-- <mat-card-content class="card-content" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px grid"> -->
    <mat-card-content class="card-content">
        <!-- <div class="flex-layout flex-layout-align flex-layout-gap-grid"> -->
        <div class="bucket-list-container">
            <!-- <div fxFlex="100%" fxFlex.gt-xs="30%"> -->
            <!-- <div class="flex flex-gt-xs-30"> -->
            <div>
                Working remote full time (no longer tied to a location)
            </div>
            <!-- <div fxFlex="100%" fxFlex.gt-xs="40%"> -->
            <!-- <div class="flex flex-gt-xs-40"> -->
            <div>
                Study further on best practices for user experience and UI design
            </div>
            <!-- <div fxFlex="100%" fxFlex.gt-xs="30%"> -->
            <div>
                Learn more about online marketing &amp; business
            </div>
            <!-- <div fxFlex="100%" fxFlex.gt-xs="30%"> -->
            <div>
                Create engine for text-based role-playing game (RPG)
            </div>
            <!-- <div fxFlex="100%" fxFlex.gt-xs="40%"> -->
            <div>
                Develop RPG featuring dynamic body transformations &amp; character relationships
            </div>
            <!-- <div fxFlex="100%" fxFlex.gt-xs="30%"> -->
            <div>
                Grant users the ability to submit custom game content
            </div>
            <!-- <div fxFlex="100%" fxFlex.gt-xs="30%"> -->
            <div>
                Commission reference art of my original characters
            </div>
            <!-- <div fxFlex="100%" fxFlex.gt-xs="40%"> -->
            <div>
                Commission a fun 3D model of my avatar
            </div>
            <!-- <div fxFlex="100%" fxFlex.gt-xs="30%"> -->
            <div>
                Vacation in Japan
            </div>
        </div>
        <!-- </div> -->
    </mat-card-content>
</mat-card>