<header>
    <h1>BioSite on Ben Sloup</h1>
</header>

<div class="main-container">
    <br />
    <!-- <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center"> -->
    <!-- <div fxFlex.gt-sm="80%" fxFlex.gt-xs="95%" fxFlex> -->
    <router-outlet></router-outlet>
    <!-- </div> -->
    <br /><br /><br />
</div>

<footer>
    <a routerLink="/buwebdev/bioSite">Home</a> &#8226;
    <a routerLink="/buwebdev/bioSite/hobby">Hobbies</a> &#8226;
    <a routerLink="/buwebdev/bioSite/about">About</a>
</footer>