<div class="dmr-main-bg profile-subheader" fxLayout fxLayoutAlign="center center">
    <a routerLink="/portfolio">Home</a>
    <a routerLink="/portfolio/about">About</a>
    <a routerLink="/portfolio/resume">Resume</a>
    <a routerLink="/portfolio/projects">Projects</a>
    <a routerLink="/buwebdev/web-335/rachwalik-diagrams">WEB-335 Diagrams</a>
    <a routerLink="/portfolio/diagrams">Database Diagrams</a>
    <a routerLink="/portfolio/api-tests">API Unit Tests</a>
    <a routerLink="/buwebdev/web-430">DevOps</a>
</div>