<h1 id="payroll-header">Payroll System</h1>

<p class="annotation">
    The purpose of this page is to render payroll details on screen.
</p>

<h3>Employee record 1</h3>
<ul class="employeeRecord">
    <!-- Robin Williams -->
    <li id="txtFirstNameRobinWilliams"></li>
    <li id="txtLastNameRobinWilliams"></li>
    <li id="txtAddressRobinWilliams"></li>
    <li id="txtHireDateRobinWilliams"></li>
    <li id="txtPayRateRobinWilliams"></li>
</ul>

<h3>Employee record 2</h3>
<ul class="employeeRecord">
    <!-- Dave Grohl -->
    <li id="txtFirstNameDaveGrohl"></li>
    <li id="txtLastNameDaveGrohl"></li>
    <li id="txtAddressDaveGrohl"></li>
    <li id="txtHireDateDaveGrohl"></li>
    <li id="txtPayRateDaveGrohl"></li>
</ul>

<h3>Employee record 3</h3>
<ul class="employeeRecord">
    <!-- Keanu Reeves -->
    <li id="txtFirstNameKeanuReeves"></li>
    <li id="txtLastNameKeanuReeves"></li>
    <li id="txtAddressKeanuReeves"></li>
    <li id="txtHireDateKeanuReeves"></li>
    <li id="txtPayRateKeanuReeves"></li>
</ul>

<!-- <a href="../index.html" class="return-home">Return</a> -->
<a routerLink="/buwebdev/web-231" class="return-home">Return</a>