<h1 class="tw-mb-4 mat-elevation-z1">David Rachwalik | Home Page</h1>

<mat-divider></mat-divider>

<h3 class="mat-elevation-z1">Projects</h3>
<ul class="tw-my-2">
    <li><a routerLink="/portfolio">Personal Portfolio</a></li>
    <li><a routerLink="/buwebdev/web-430">WEB-430 Project</a></li>
    <li><a routerLink="/buwebdev/web-330">WEB-330 Project</a></li>
    <li><a routerLink="/buwebdev/web-231">WEB-231 Project</a></li>
    <li><a routerLink="/buwebdev/bioSite">WEB-200 BioSite Project</a></li>
</ul>