<h1 class="mat-elevation-z1">David Rachwalik | Home Page</h1>
<h2 class="mat-elevation-z1">Projects</h2>

<mat-divider></mat-divider>

<h4 class="mat-elevation-z1">Bellevue University Projects</h4>
<ul>
  <!-- <li><a routerLink="/portfolio">Personal Portfolio</a></li> -->
  <!-- <li><a routerLink="/portfolio/projects">Personal Portfolio (Full Project Index)</a></li> -->
  <li><a routerLink="/portfolio/resume">Personal Portfolio [Resume]</a></li>
  <!-- <li><a routerLink="/buwebdev/web-430">WEB-430 Project (DevOps)</a></li> -->
  <!-- <li><a routerLink="/buwebdev/web-330">WEB-335 Database Diagrams</a></li> -->
  <li><a routerLink="/buwebdev/web-330">WEB-330 Projects</a></li>
  <li><a routerLink="/buwebdev/web-231">WEB-231 Projects</a></li>
  <li><a routerLink="/buwebdev/bioSite">WEB-200 BioSite Project</a></li>
</ul>
