<!--
Title: rachwalik-future-value.html
Author: David Rachwalik
Date: 2022/02/12
Description: Future Value App for WEB-330 site
-->

<h1 id="app-header">Welcome to the Future Value App!</h1>

<p class="annotation">
  Demo page that calculates the future value of an investment or asset
  <span class="annotation-item"
    >Input the values for Monthly Payment, Interest Rate, and Number of Years
    before clicking the "Calculate" button</span
  >
</p>

<mat-card appearance="outlined" class="card mat-elevation-z4">
  <mat-card-title class="card-title">Future Value Calculator</mat-card-title>

  <mat-card-content>
    <form>
      <div class="container">
        <div class="row">
          <!-- Step 2a mentions col-12 -->
          <div id="errorLog" class="col-12 danger"></div>
        </div>
        <div class="row">
          <label for="txtMonthlyPayment" class="col-5 form-label"
            >Monthly Payment:</label
          >
          <input
            id="txtMonthlyPayment"
            class="col-7"
            type="text"
            name="txtMonthlyPayment" />
        </div>
        <div class="row">
          <label for="txtYearlyRate" class="col-5 form-label"
            >Interest Rate:</label
          >
          <input
            id="txtYearlyRate"
            class="col-7"
            type="text"
            name="txtYearlyRate" />
          <i id="cart-message" class="danger">Enter 11.1% as 11.1</i>
        </div>
        <div class="row">
          <label for="listNumOfYears" class="col-5 form-label"
            >Number of Years:</label
          >
          <select id="listNumOfYears" class="col-7 drop-down-menu">
            @for (year of years; track year) {
              <option [value]="year">{{ year }}</option>
            }
          </select>
        </div>
        <br />

        <!-- <div class="row">
        <input id="btnCalculate" class="col-7 btn-primary" type="button" value="Calculate" (click)="btnCalculator()" />
      </div> -->
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <!-- <input id="btnCalculate" class="btn-primary" type="button" value="Calculate" (click)="btnCalculator()" /> -->
    <button
      mat-raised-button
      type="submit"
      id="btnCalculate"
      class="btn-primary"
      color="primary"
      (click)="btnCalculator()">
      Calculate
    </button>
  </mat-card-actions>
</mat-card>

<mat-card appearance="outlined" class="card mat-elevation-z1">
  <mat-card-title class="card-title"
    >Calculation as of <span id="today"></span
  ></mat-card-title>
  <mat-card-content>
    <div id="futureValue" class="assign-results-text"></div>
  </mat-card-content>
</mat-card>

<a routerLink="/buwebdev/web-330" class="return-home">Return</a>
