<mat-card class="mat-elevation-z3">
    <mat-card-title class="card-title">Presentation 7.2 - Technology vs Business</mat-card-title>
    <mat-card-subtitle>
        <h6 class="breadcrumb">Portfolio / DevOps / Technology vs Business</h6>
    </mat-card-subtitle>

    <mat-card-content class="card-content">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/1q7MnqwHAeo" title="Assignment 7.2 - Technology vs Business"
            class="videoPresentation" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </mat-card-content>
</mat-card>