<mat-card class="mat-elevation-z3">
    <mat-card-title class="card-title">WEB-430 DevOps</mat-card-title>
    <mat-card-subtitle>
        <h6 class="breadcrumb">Portfolio / DevOps</h6>
    </mat-card-subtitle>

    <mat-card-content class="card-content" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="16px grid">
        <portfolio-inner-card *ngFor="let card of projectCards" [fxFlex]="card.flex" [path]="card.path" [header]="card.header" [content]="card.content">
        </portfolio-inner-card>
    </mat-card-content>
</mat-card>