<div class="dmr-main-bg">
  <a routerLink="/" class="dmr-header">David Rachwalik</a>
</div>
<!-- <div class="dmr-main-bg profile-subheader" fxLayout fxLayoutAlign="center center"> -->
<div class="dmr-main-bg profile-subheader">
  <a routerLink="/blog">Blog</a>
  <a routerLink="/demo">Demo</a>
  <a routerLink="/portfolio">Portfolio</a>
  <!-- <a routerLink="/portfolio/about">About</a> -->
  <!-- <a routerLink="/portfolio/resume">Resume</a> -->
</div>

<div class="main-container">
  <br />
  <router-outlet></router-outlet>
  <br /><br /><br />
</div>

<footer>
  <span>© David Rachwalik - {{ currentYear }}</span>
</footer>
