<h2>Hobbies</h2>

<figure>
    <img src="/assets/images/buwebdev/bioSite/hobbies-01.jpg" class="biosite-img mat-elevation-z1" alt="drawing" />
    <figcaption>
        Ben has been drawing since he was very young. He draws nearly every day and what still primarily remains a side hobby is
        very profitable when he opens for commissions once a year.
    </figcaption>
</figure><br />

<figure>
    <img src="/assets/images/buwebdev/bioSite/hobbies-02.jpg" alt="gaming" />
    <figcaption>
        Several days in the week there are hours Ben is spending on videogames. It is a way for him to spend time with friends
        no matter where they live.
    </figcaption>
</figure><br />

<figure>
    <img src="/assets/images/buwebdev/bioSite/hobbies-03.jpg" class="biosite-img mat-elevation-z1" alt="biking" />
    <figcaption>
        Whether he is riding trails around the city or near the lake cabin, Ben enjoys getting time bicycling.
    </figcaption>
</figure><br />