<h1 class="app-header">Welcome to my portfolio!</h1>

<mat-card class="mat-elevation-z3">
    <mat-card-title class="card-title">Quick Links</mat-card-title>
    <mat-card-subtitle>
        <h6 class="breadcrumb">Index / Home</h6>
    </mat-card-subtitle>
    <mat-card-content class="card-content" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px grid">
        <div fxFlex="60%">
            <ul class="quickLinks">
                <li><a href="https://github.com/david-rachwalik?tab=repositories" target="_blank">David Rachwalik's GitHub Repos</a></li>
                <li><a href="https://www.bellevue.edu/degrees/bachelor/web-development-bs" target="_blank">
                        Bellevue University: Web Development Degree</a></li>
                <li><a href="https://github.com/buwebdev" target="_blank">Bellevue University: Web Dev GitHub Repo</a></li>
            </ul>
        </div>
        <div fxFlex="40%">
            <ul class="quickLinks">
                <li><a href="https://validator.w3.org" target="_blank">W3C HTML Validator</a></li>
                <li><a href="https://jigsaw.w3.org/css-validator" target="_blank">W3C CSS Validator</a></li>
                <li><a href="https://loremipsum.io" target="_blank">Lorem Ipsum Generator</a></li>
            </ul>
        </div>
    </mat-card-content>
</mat-card>
<br />

<mat-card class="mat-elevation-z3">
    <mat-card-title class="card-title">Bucket List</mat-card-title>
    <mat-card-content class="card-content" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px grid">
        <div fxFlex="33%">
            Create RPG game engine
        </div>
        <div fxFlex="33%">
            Develop a text RPG with dynamic body transformations &amp; character relationships
        </div>
        <div fxFlex="33%">
            Make site for users to submit their custom game content
        </div>
        <div fxFlex="33%">
            Study further about online marketing &amp; business
        </div>
        <div fxFlex="33%">
            Earn enough to make game design a primary focus
        </div>
        <div fxFlex="33%">
            No longer being tied to any location
        </div>
        <div fxFlex="33%">
            Commission reference art of my original avatar
        </div>
        <div fxFlex="33%">
            Commission a 3D model of my avatar
        </div>
        <div fxFlex="33%">
            Vacation to Japan
        </div>
    </mat-card-content>
</mat-card>
<br />