<h1>David Rachwalik's Landing Page</h1>
<h2>WEB 231 Enterprise JavaScript I</h2>

<mat-divider></mat-divider>

<h3>Weekly Assignments</h3>
<ul>
    <li><a routerLink="/buwebdev/web-231/alphabet-game">Assignment 8.2: Alphabet Game</a></li>
    <li><a routerLink="/buwebdev/web-231/javazon">Assignment 7.2: Javazon</a></li>
    <li><a routerLink="/buwebdev/web-231/in-n-out-books">Assignment 6.2: In-N-Out-Books</a></li>
    <li><a routerLink="/buwebdev/web-231/sequence-game">Assignment 5.2: Sequence Game</a></li>
    <li><a routerLink="/buwebdev/web-231/number-game">Assignment 4.2: Number Game</a></li>
    <li><a routerLink="/buwebdev/web-231/temp-conversion">Assignment 3.2: Temp Conversion</a></li>
    <li><a routerLink="/buwebdev/web-231/payroll">Assignment 2.3: Payroll Display</a></li>
    <li><a routerLink="/buwebdev/web-231/exercise2">Exercise 2.2</a></li>
</ul>

<h3>Projects</h3>
<ul>
    <li><a routerLink="/buwebdev/web-231/card-game">Final: Card Game</a></li>
    <li><a routerLink="/buwebdev/bioSite">bioSite Project Home Page</a></li>
    <li><a routerLink="/">Home Index</a></li>
</ul>

<h4>Important Links</h4>
<ul>
    <li><a href="https://github.com/buwebdev/web-231" target="_blank">WEB 231's GitHub Repository</a></li>
    <li><a href="https://validator.w3.org" target="_blank">W3C HTML Validator</a></li>
    <li><a href="http://jigsaw.w3.org/css-validator" target="_blank">W3C CSS Validator</a></li>
    <li><a href="https://www.w3schools.com/html" target="_blank">HTML Tutorial</a></li>
    <li><a href="https://www.w3schools.com/js/js_best_practices.asp" target="_blank">JavaScript Best Practices</a></li>
    <li><a href="https://bruinconnect.bellevue.edu" target="_blank">BRUIN Connect</a></li>
</ul>