<mat-card class="mat-elevation-z3">
    <mat-card-title class="card-title">Presentation 6.2 - Dangers of Change Approval Processes</mat-card-title>
    <mat-card-subtitle>
        <h6 class="breadcrumb">Portfolio / WEB-430 / Change Approval</h6>
    </mat-card-subtitle>

    <mat-card-content class="card-content">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/J-twie82um4" title="Assignment 6.2 - Dangers of Change Approval Processes"
            class="videoPresentation" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </mat-card-content>
</mat-card>