/* -------- Theme Styles -------- */

/*
  Applying the theme styles
*/

[data-theme='light-theme'],
[data-theme='dark-theme'] {
  margin: 0;
  color: var(--text-color);
  /* background: var(--background-color); */
  background-color: var(--background-color);
}

/* -------- Layout Styles -------- */

[data-style-config~='main'] {
  max-width: 900px;
  margin: 0 auto;
}

[data-style-config~='main'] .icon-container {
  overflow: hidden; /* required to contain float */
  @apply tw-pt-3 tw-pb-1;
}

@media only screen and (max-width: 1100px) {
  [data-style-config~='main'] {
    margin: 0 100px;
  }
}

[data-style-config~='main'] ul,
[data-style-config~='main'] .mat-divider {
  @apply tw-mb-4;
}

[data-style-config~='main'] h1,
[data-style-config~='main'] h2,
[data-style-config~='main'] h3,
[data-style-config~='main'] h4 {
  color: var(--heading-color);
  background-color: var(--heading-background-color);
  border: 1px solid var(--heading-border-color);
  padding: 10px;
}

[data-style-config~='main'] h1 {
  background-color: var(--h1-background-color);
  border: 1px solid var(--h1-border-color);
}

[data-style-config~='main'] h3,
[data-style-config~='main'] h4 {
  @apply tw-mb-1;
}

[data-style-config~='main'] h4 {
  @apply tw-py-1;
}

[data-style-config~='main'] .btn-primary {
  background-color: var(--btn-background-color);
  color: var(--btn-color);
}
[data-style-config~='main'] .btn-primary:hover {
  background-color: var(--btn-hover-background-color);
  color: var(--btn-hover-color);
}

[data-style-config~='main'] input,
[data-style-config~='main'] .drop-down-menu {
  border-color: var(--input-border-color);
}

[data-style-config~='main'] .drop-down-menu {
  border-radius: 5px;
  border: 2px solid var(--input-border-color);
  padding: 5px;
}

/* added in week-4 */

[data-style-config~='main'] .table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

[data-style-config~='main'] .table th {
  background-color: var(--table-header-background-color);
  color: var(--table-header-color);
}

[data-style-config~='main'] .table th,
[data-style-config~='main'] .table td {
  border: 1px solid var(--table-border-color);
  padding: 5px;
}

[data-style-config~='main'] .table tr:hover {
  background-color: var(--table-hover-background-color);
  color: var(--tablehover-color);
  cursor: pointer;
}

/* -------- Styles via Web 330 HTML, CSS, and JavaScript Requirements document -------- */

[data-style-config~='main'] .assign-container {
  padding: 10px;
}

[data-style-config~='main'] .assign-content {
  width: 600px;
  margin: 3% auto 0;
}

[data-style-config~='main'] .assign-results-text {
  text-align: center;
  font-size: 28px;
}

[data-style-config~='main'] .return-home {
  color: var(--anchor-color);
  text-decoration: none;
}
[data-style-config~='main'] .return-home:hover {
  background-color: var(--anchor-hover-background-color);
  color: var(--anchor-hover-color);
}

[data-style-config~='main'] .form {
  display: inline-grid;
  grid-template-columns: auto;
}

[data-style-config~='main'] .form-field {
  padding: 20px;
}

[data-style-config~='main'] .full-width {
  width: 100%;
}

/* -------- Card Styles -------- */

[data-style-config~='main'] .card {
  padding: 5px 30px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 20px auto;
  background-color: var(--card-background-color);
}

[data-style-config~='main'] .card input[type='button'] {
  padding: 8px 90px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}

[data-style-config~='main'] .card input[type='text'] {
  border-radius: 5px;
  border: 2px solid #cdd9ed;
  padding: 5px;
  margin: 15px;
}

/* -------- Styles for Assign_4 -------- */

/* Content respects width, not pushed beyond by padding */
[data-style-config~='main'] html {
  box-sizing: border-box;
}
[data-style-config~='main'] *,
[data-style-config~='main'] *:before,
[data-style-config~='main'] *:after {
  box-sizing: inherit;
}

/* https://www.w3schools.com/css/css3_flexbox_container.asp */
[data-style-config~='main'] .flex-container {
  display: flex;
  flex-direction: row;
}
[data-style-config~='main'] .flex-container label {
  white-space: nowrap;
  padding: 5px 0;
  margin-right: 5px;
}

[data-style-config~='main'] .card form {
  width: 55%;
}

[data-style-config~='main'] .btn-primary,
[data-style-config~='main'] .card input,
[data-style-config~='main'] .card select {
  width: 100%;
  margin: 0;
}

/* -------- Styles for Assign_7 -------- */

[data-style-config~='main'] .book-details {
  list-style-type: none;
}

/* -------- Integrating Old Baseline Styles -------- */

.mat-typography [data-style-config~='main'] .icon-sun,
.mat-typography [data-style-config~='main'] .icon-moon {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.mat-typography [data-style-config~='main'] .icon-sun {
  /* color: gold; */
  color: #fbac13;
}
.mat-typography [data-style-config~='main'] .icon-moon {
  /* color: cyan; */
  /* color: #f4f1c9; */
  color: #3686a0;
}

/* --- TODO: --- */
/* .mat-typography [data-style-config~='main'] .icon-sun .mat-icon {
  // height: 12px;
  // width: 12px;
  transform: scale(0.8);
} */
/* .mat-typography [data-style-config~='main'] .icon-sun .icon-sm {
  transform: scale(0.6);
} */

.mat-typography [data-style-config~='main'] .mat-mdc-slide-toggle {
  transform: scale(0.6);
  /* height: 90px; */
}

/* .mat-typography [data-style-config~='main'] .mat-slide-toggle-bar {
  height: 8px;
  width: 26px;
} */

/* .mat-typography [data-style-config~='main'] .mat-slide-toggle-thumb {
  height: 14px;
  width: 14px;
} */

/* .mat-typography [data-style-config~='main'] .mat-slide-toggle-ripple {
  height: 24px;
  width: 24px;
} */

/* -------- Styles for Annotations -------- */

.annotation-item {
  @apply tw-block tw-relative;
  margin-left: 20px; /* Adjust the margin as needed for your indentation */
  padding-left: 10px; /* Adjust the padding as needed */
  text-indent: -10px; /* Move the text back to align with the bullet */
  @apply tw-text-xs tw-italic;
}
.annotation-item::before {
  @apply tw-absolute tw-left-0;
  content: '\2022'; /* Unicode character for a bullet point */
}
