/* -------- Typography -------- */
/*
  Art and technique of arranging type to make written language legible, readable, and
  appealing when displayed. It includes the choice of typefaces, point sizes, line lengths,
  line-spacing, letter-spacing, and adjusting the space between pairs of letters.
  The background is not considered part of typography.
*/

/*
  --- Fonts / Typefaces ---
  - font-family (sans, serif, mono)
  
  --- Size ---
  - font-size (*px/rem)
  - line-height (*px/rem)

  --- Style ---
  - font-weight (100-900)
  - font-style (italic, normal)
  - text-decoration (underline, overline, line-through, etc.)
  - text-transform (uppercase, lowercase, capitalize)

  --- Position / Spacing ---
  - letter-spacing (*em)
  - text-align (left, center, right, justify)

  --- Color ---
  - color (rgb(*, *, *))
*/

/* https://ansrsource.com/elements-of-typography */
/* https://careerfoundry.com/en/blog/ui-design/beginners-guide-to-typography */

body.mat-typography [data-style-config~='main'] *:not(mat-icon) {
  font-family: 'Oswald', Verdana, Arial, sans-serif;
}

body.mat-typography [data-style-config~='main'] a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--anchor-color);
}
body.mat-typography [data-style-config~='main'] a:hover {
  text-decoration: underline;
  /* background-color: var(--anchor-hover-background-color); */
  color: var(--anchor-hover-color);
}
/* body.mat-typography [data-style-config~='main'] a:visited {
  color: var(--anchor-visited-color);
} */

body.mat-typography [data-style-config~='main'] h1,
body.mat-typography [data-style-config~='main'] h3 {
  font-family: 'Oswald', Verdana, Arial, sans-serif;
  font-weight: bold;
}

body.mat-typography [data-style-config~='main'] h1 {
  font-size: 32px;
  line-height: 48px;
}

body.mat-typography [data-style-config~='main'] h3 {
  @apply tw-text-lg;
}

body.mat-typography [data-style-config~='main'] .annotation {
  @apply tw-text-sm tw-italic tw-text-gray-500;
}
