/* -------- Typography -------- */

// (fonts/typefaces, size, style, position/spacing, color)
/*
  --- Fonts / Typefaces ---
  - font-family
  
  --- Size ---
  - font-size
  - line-height

  --- Style ---
  - font-weight
  - font-style
  - text-decoration

  --- Position / Spacing ---
  - text-align

  --- Color ---
  - color
  - background (rare, for rich text)
*/

// https://ansrsource.com/elements-of-typography
// https://careerfoundry.com/en/blog/ui-design/beginners-guide-to-typography

// Targeting .mat-typography activates more overrides without requiring !important
body.mat-typography {
  app-base-layout,
  app-buwebdev-layout {
    *:not(mat-icon) {
      font-family: 'Oswald', Verdana, Arial, sans-serif;
    }

    a {
      font-size: 1rem;
      text-decoration: none;
      color: var(--anchor-color);
    }
    a:hover {
      text-decoration: underline;
      background-color: var(--anchor-hoverbackground-color);
      color: var(--anchor-hover-color);
    }
    // a:visited {
    //   color: var(--anchor-visited-color);
    // }

    h1,
    h3 {
      font-family: 'Oswald', Verdana, Arial, sans-serif;
      font-weight: bold;
    }

    h1 {
      font-size: 32px;
      line-height: 48px;
    }

    h3 {
      margin-top: 16px;
      font-size: 18.72px;
      // line-height: 48px;
    }
  }
}
